@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monoton";
  src: url("/fonts/Monoton-Regular.ttf");
}

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono-Regular.ttf");
}
